@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.invoice-grid-highlight>* {
  border-top: #aaa solid 1px;
  border-bottom: #aaa solid 1px;
}

.invoice-grid-highlight>*:nth-child(12n+1),
.invoice-grid-highlight>*:nth-child(12n+2),
.invoice-grid-highlight>*:nth-child(12n+3),
.invoice-grid-highlight>*:nth-child(12n+4),
.invoice-grid-highlight>*:nth-child(12n+5),
.invoice-grid-highlight>*:nth-child(12n+6) {
  background-color: #eee;
}

@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 1.6cm;
  }

  .exclude-printing {
    display: none !important;
  }

  .div-wrapper {
    width: 100%;
    margin: 0;
  }
}